body {
	background-color: #fff7f8;
	padding: 0;
}

footer {
	color: #a87bc4;
	font: 10px arial, sans-serif;
	margin: 5px 5px 5px 5px;
}

#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 38px;
	height: auto;
	margin: 0;
	background-color: #a87bc4;
	border-radius:0px 10px 10px 0px;
	border-style: solid;
	border-color: #b088c9;
	border-width: 1px;
}

#navbar a {
	min-width: 36px;
	margin: 2px 2px;
	float: left;
}

#navbar a:hover {
	color: #e3c6e3;
}

img.opacity {
	opacity: 0.75;
	filter: alpha(opacity=75);
}

img.opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.container {
	width: 80%;
	height: 80%;
	margin: auto;
}

/* add a shadow to each image */
.container img {
	float: left;
	width: 32%;
	margin: 5px 5px 5px 5px;
	-webkit-box-shadow: 3px 3px 3px #7C7C7C;
    	box-shadow: 3px 3px 3px #7C7C7C;
}

/* media queries */
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.container img {
		width: 48%; 
	}
}
 
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.container img {
		width: 96%;
	}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.container {
		max-width: 250px;
	}
}
